button {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.count {
    font-size: 2rem;
    padding: 10px;
}

.reset {
    margin-top: 25px;
    width: 85px;
    font-size: 1.2rem;
}

.countMover {
    margin-top: 25px;
}